/* 
    Document   : priority
    Created on : Mar 9, 2011, 5:17:23 PM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* $Id: vote_up_down.css,v 1.12.2.4 2009/01/29 18:42:12 lut4rp Exp $  */

.priority-widget {
  float: left;
  clear: left;
  padding: 2px;
  margin: 2px 5px 2px 0;
  border: 1px solid #ccc;
  color: #336299;

  background-position: center center;
  width: 50px;
  text-align: center;
}

.vote-up-down-via {
  float: right;
  color: #999;
  padding-left: 3px;
}

.priority-up-active,
.priority-down-active {
  display: block;
  text-decoration: none;
  width: 40px;
  height: 25px;
  cursor: pointer;
}



.priority-up-active {
  background: url(../images/a_up_act.png) no-repeat 0px 0px;
  background-position: center center;
  width: 50px;
}

.priority-up-active:hover{
  background: url(../images/a_up_hover.png) no-repeat 0px 0px;
  background-position: center center;
  width: 50px;
}

.priority-down-active{
  background: url(../images/a_down_act.png) no-repeat 0px 0px;
  background-position: center center;
  width: 50px;
}

.priority-down-active:hover {
  background: url(../images/a_down_hover.png) no-repeat 0px 0px;
  background-position: center center;
  width: 50px;
}

.single_priority{
    font-size:12px;
    border: solid 1px #ccc;
    cursor: pointer;
}

.single_priority_label{
    font-size:12px;

}

.priority_singe_input{
    width: 40px;
    text-align: center;
}